<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>Name</th>
      <th>Address</th>
      <th>Postcode</th>
      <th>Phone</th>
      <th>Credit Limit</th>
      <th>Birthday</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>Johnson, John</td>
      <td>Voorstraat 32</td>
      <td>3122gg</td>
      <td>020 3849381</td>
      <td>10000.0</td>
      <td>01/01/1987</td>
    </tr>
    <tr>
      <th>1</th>
      <td>Anderson, Paul</td>
      <td>Dorpsplein 3A</td>
      <td>4532 AA</td>
      <td>030 3458986</td>
      <td>109093.0</td>
      <td>03/12/1965</td>
    </tr>
    <tr>
      <th>2</th>
      <td>Wicket, Steve</td>
      <td>Mendelssohnstraat 54d</td>
      <td>3423 ba</td>
      <td>0313-398475</td>
      <td>934.0</td>
      <td>03/06/1964</td>
    </tr>
    <tr>
      <th>3</th>
      <td>Benetar, Pat</td>
      <td>Driehoog 3zwart</td>
      <td>2340 CC</td>
      <td>06-28938945</td>
      <td>54.0</td>
      <td>04/09/1964</td>
    </tr>
    <tr>
      <th>4</th>
      <td>Gibson, Mal</td>
      <td>Vredenburg 21</td>
      <td>3209 DD</td>
      <td>06-48958986</td>
      <td>54.5</td>
      <td>09/11/1978</td>
    </tr>
    <tr>
      <th>5</th>
      <td>Friendly, User</td>
      <td>Sint Jansstraat 32</td>
      <td>4220 EE</td>
      <td>0885-291029</td>
      <td>63.6</td>
      <td>10/08/1980</td>
    </tr>
    <tr>
      <th>6</th>
      <td>Smith, John</td>
      <td>Børkestraße 32</td>
      <td>87823</td>
      <td>+44 728 889838</td>
      <td>9898.3</td>
      <td>20/09/1999</td>
    </tr>
  </tbody>
</table>